<div class="container">
  <div class="row marginTop">
        <div class="list-group">
            <a href="#" class="center list-group-item active">
              Experiance - Total 6 years
            </a>
            <a href="#" class="list-group-item list-group-item-action">Mastercard Mobile Transcation Solution Pvt. Ltd. (4.5 years)</a>
            <a href="#" class="list-group-item list-group-item-action">Cybernation Infotech Pvt. Ltd. (1 year)</a>
            <a href="#" class="list-group-item list-group-item-action">Project semester - Cybernation Infotech Pvt. Ltd. (0.5 year)</a>
          </div>
  </div>
</div>
<!--
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-block">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div> -->
